.titleColections{
    font-size: 35px;
    text-align: center;
}
.subtitle {
    background-color: rgb(236, 236, 236);
    width: 350px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
}
.containerColections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.sectionColections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.coleccion {
    position: relative;
    width: 400px;
    flex-grow: 1;
    height: 350px;
    transition: all .3s ease-in-out;
}
.coleccion .portada {
    transition: all 0.3s;
}
.coleccion:hover .portada{
    filter: contrast(60%);
    scale: 102%;
}
.coleccion:hover .visitar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.visitar {
    color: black;
    display: none;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    z-index: 100;
    cursor: pointer;
    
}
.visitar:hover{
    color: white;
    background-color: brown;
}

.userImg{
    opacity: 0;
    border: 2px solid red;
    border-radius: 50%;
    padding: 2px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    z-index: 90;
    transition: all .5s ease-in-out;
}
.coleccion:hover .userImg{
    opacity: 1;
    bottom: 130px;
    
}
